.main-container {
    display: flex;
    margin: 30px;
}

.picture-container {
    width: 49%;
    margin-right: 30px;
    height: 49%;
    border: 4px solid silver;
    background-color: rgba(255, 255, 255, 0.3);
    display: flex;
    justify-content: flex-start; /* Aligns flex items horizontally along the main axis*/
    border-radius: 16px;
    align-items: center;
    flex-direction: column;
    overflow: hidden;

    
}

.picture-container img {
    width: 100%;
}

.model-predict-container {
    margin-left: 30px;
    flex: 1;
    display: flex;
    width: 49%;
    height: 49%;
    border: 4px solid silver;
    background-color: rgba(255, 255, 255, 0.3);
    display: flex;
    justify-content: flex-start; /* Aligns flex items horizontally along the main axis*/
    border-radius: 16px;
    align-items: center;
    flex-direction: column;
    overflow: hidden; 
}